.select {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 400px;
    border: 1px solid #333333;
}

h1 {
    color: white;
    background-color: gray;
    position: relative;
    top: 20px;
}

div {
    position: relative;
    top: 20px;
}

.button {
    position: relative;
    top: 20px;
}

select {
    position: relative;
    top: 20px;
}

p {
    position: relative;
    top: 20px;
}

#Finish_btn {
    font-size: 2em;
    background-color:darkgray;
    border-radius: 80px;
    border: 90px;
    border-color: white;
    color: white;
    padding: 20px;
    position: absolute;
    top: 300px;
    left: 950px;
    cursor: pointer;

    margin-bottom: 10px;
}